<!--suppress ALL -->
<section id="bs-footer">
<div class="container">
<div class="row">
	<div class="col-md-7 pull-left">
        <p class="small"><a href="http://slackerQ.com/privacy" target="_blank">Privacy Policy </a> | <a href="http://slackerQ.com/tos" target="_blank">Terms of Use </a> | <a href="/contact">Contact</a> </p>
        <p>&copy; slackerQ 2014.</p>
	</div>
	<div class="col-md-3 pull-left">
		<span class="text-right"><img src="/img/logo_50h_inverse.png" alt="slackerQ Logo" class="img-responsive"></span><br/>
	</div>
</div></div></section>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.ui.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap-timepicker.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.ui.widget.tools.js"></script>
<script src="/js/moment-with-langs.js"></script>

<script src="/blocks/b-ajaxForm/b-ajaxForm.js"></script>
<script src="/blocks/b-siteList/b-siteList.js"></script>
<script src="/blocks/b-signin/b-signin.js"></script>
<script src="/js/jquery.roles.js"></script>
<script src="/js/feather.js"></script>
<script src="/js/init.js"></script>
<script src="/js/jquery.formance.min.js"></script>
<script src="/js/bootstrap-formhelpers.min.js"></script>