<img src="http://slackerQ.com/logo_50h.png" alt="slackerQ Logo" title="slackerQ Logo">
<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<br>
<p>We’re sorry, there was an error. Please try again after sometime.
<p>Thank you,</p>
<p>slackerQ</p>