<img src="http://slackerQ.am/logo_50h.png" alt="slackerQam Logo" title="slackerQam Logo">
<p>Dear {{user.firstName}} {{user.lastName}},</p>
<p></p>
<p>You have requested to have your password reset for your account "{{user.login}}" at slackerQ.com</p>

<p>If you received this email in error, you can safely ignore it.</p>
<p></p>
<p>Thank you,</p>
<p>slackerQam</p>
