<img src="http://slackerQ.com/logo_50h.png" alt="slackerQ Logo" title="slackerQ Logo">
<p>Dear {{ user.firstName }} {{ user.lastName }},</p>
<br>
<p>This is to confirm that your Registration with slackerQ is successful.</p>
<p>Please verify your email address by clicking <a href="{{host}}/activate/{{user.confirm_token}}">here</a>.</p>
<p></p>
<p>Thank you,</p>
<p>slackerQ team</p>