{{!< sign}}

{{#contentFor "title"}}Signup for slackerQ{{/contentFor}}
<div class="col-md-8 col-md-push-2">
    <form role="b-ajaxForm" class="form-sign" method="post" action="/signup">
        <h2 class="form-sign-heading">Signup to slackerQ</h2>
        <h4>Step 1: Your information</h4>
        <div class="form-group col-md-6">
            <label class="control-label">Username</label>
            <input type="text" name="username" autofocus required class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Email</label>
            <input type="email" name="email" required placeholder="example@example.com" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">First name</label>
            <input type="text" name="firstName" required class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Last name</label>
            <input type="text" name="lastName" required class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Password</label>
            <input type="password" name="password" required placeholder="******" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Repeat password</label>
            <input type="password" name="passwordRepeat" required placeholder="******" class="form-control">
        </div>

    <div class="form-group col-md-12">
            <p><strong>By registering, you agree to our <a href="https://slackerQ.com/tos" alt="slackerQ Terms of Use" target="_blank">Terms</a> and <a href="https://slackerQ.com/privacy" alt="slackerQ Privacy Policy" target="_blank">Privacy Policy</a>.</strong><br />
                We'll also email you every now and then with slackerQ updates.</p>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block b-ajaxForm__submitButton" autocomplete="off">Sign up</button>

    <div class="well well-sm" style="margin-top:20px;">
                Already have an account? <a href="/signin">Sign in here</a>.
    </div>
    <label class="help-block text-danger b-ajaxForm__errorMessage"></label>
    <label class="help-block text-success b-ajaxForm__successMessage"></label>
</form>
</div>