
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns:mv="http://macVmlSchemaUri" xmlns="http://www.w3.org/TR/REC-html40">
<head>
<meta name=Title content="">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">

<link rel=File-List href="terms_files/filelist.xml">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Avinash Ega</o:Author>
  <o:LastAuthor>Avinash Ega</o:LastAuthor>
  <o:Revision>3</o:Revision>
  <o:TotalTime>4</o:TotalTime>
  <o:Created>2014-01-27T05:30:00Z</o:Created>
  <o:LastSaved>2014-01-27T05:34:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>896</o:Words>
  <o:Characters>5110</o:Characters>
  <o:Company>Dialogue Consulting</o:Company>
  <o:Lines>42</o:Lines>
  <o:Paragraphs>11</o:Paragraphs>
  <o:CharactersWithSpaces>5995</o:CharactersWithSpaces>
  <o:Version>14.0</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="terms_files/themedata.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:Zoom>125</w:Zoom>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves/>
  <w:TrackFormatting/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>X-NONE</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:SplitPgBreakAndParaMark/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="276">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style><!--
 /* Font Definitions */
@font-face
	{font-family:Arial;
	panose-1:2 11 6 4 2 2 2 2 2 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:fixed;
	mso-font-signature:1 134676480 16 0 131072 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:fixed;
	mso-font-signature:1 134676480 16 0 131072 0;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-name:"Normal\,normal";
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	color:black;}
a:link, span.MsoHyperlink
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	text-decoration:underline;
	text-underline:single;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	color:black;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	color:black;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	color:black;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{mso-style-priority:34;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-type:export-only;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	color:black;}
p.msochpdefault, li.msochpdefault, div.msochpdefault
	{mso-style-name:msochpdefault;
	mso-style-unhide:no;
	mso-margin-top-alt:auto;
	margin-right:0cm;
	mso-margin-bottom-alt:auto;
	margin-left:0cm;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:Cambria;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-size:10.0pt;
	mso-ansi-font-size:10.0pt;
	mso-bidi-font-size:10.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-hansi-font-family:Cambria;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:70.9pt 70.9pt 70.9pt 70.9pt;
	mso-header-margin:35.4pt;
	mso-footer-margin:35.4pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
@list l0
	{mso-list-id:126750142;
	mso-list-type:hybrid;
	mso-list-template-ids:-1534313018 -148202092 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l0:level1
	{mso-level-text:"\(%1\)";
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:72.0pt;
	text-indent:-18.0pt;}
@list l0:level2
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:108.0pt;
	text-indent:-18.0pt;}
@list l0:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:144.0pt;
	text-indent:-9.0pt;}
@list l0:level4
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:180.0pt;
	text-indent:-18.0pt;}
@list l0:level5
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:216.0pt;
	text-indent:-18.0pt;}
@list l0:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:252.0pt;
	text-indent:-9.0pt;}
@list l0:level7
	{mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:288.0pt;
	text-indent:-18.0pt;}
@list l0:level8
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	margin-left:324.0pt;
	text-indent:-18.0pt;}
@list l0:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:none;
	mso-level-number-position:right;
	margin-left:360.0pt;
	text-indent:-9.0pt;}
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
--></style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0cm 5.4pt 0cm 5.4pt;
	mso-para-margin:0cm;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:Cambria;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1027"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
<script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-46264715-2']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
</script>
</head>
<body bgcolor=white lang=EN-US link=blue vlink=purple style='tab-interval:36.0pt'>
<div class=WordSection1>
<p class=MsoNormal align=center style='margin-bottom:6.0pt;text-align:center'><span class=SpellE><b><span style='font-family:Arial;mso-bidi-font-family:"Times New Roman"'>slackerQ</span></b></span><b><span style='font-family:Arial;mso-bidi-font-family:"Times New Roman"'> terms of use</span></b><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><span style='mso-bidi-font-family:"Times New Roman"'>&nbsp;<o:p></o:p></span></p>
<p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>These
Terms of Use (<b>Terms</b>) govern your use of our website located at <a href="http://schedugr.am">http://schedugr.am</a> (including subdomains) and the
<span class=SpellE>slackerQ</span> service (collectively <b>Service</b>) and
form a binding contractual agreement between you, the user of the Service and
us, Dialogue Consulting Pty Ltd (trading as <span class=SpellE>slackerQ</span>).
These Terms should be read in conjunction with <a href="http://schedugr.am/privacy.htm">our Privacy Policy</a>.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><a name=h.gjdgxs></a><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>For that reason these Terms are important and you should
ensure that you read them carefully and contact us with any questions before
you use the Service. </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>By
using the <span class=GramE>Service</span> you acknowledge and agree that you
have had sufficient chance to read and understand the Terms and you agree to be
bound by them. If you do not agree to the Terms, please do not use the Service.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>1)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><span class=SpellE><b><span style='font-size:11.0pt;font-family:Arial;
mso-bidi-font-family:"Times New Roman"'>Licence</span></b></span></span><b><span style='font-size:11.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>
to use Service</span></b><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=SpellE><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>i</span></span></span><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>We</span></span><span style='font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:"Times New Roman"'> grant you a non-exclusive,
worldwide, non-transferable <span class=SpellE>licence</span> to use the
Service in accordance with these Terms.</span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>ii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>You</span> may access and use the Service (including any incidental
copying that occurs as part of that use) in the normal manner and may also
print one copy of any page within the Service for your own personal,
non-commercial use.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iii)
You warrant to us that:<o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(1)
All <span class=SpellE>Instagram</span> accounts added to the Service are owned
or controlled by you<span class=GramE>;</span><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(2)
You grant us the right to use any information provided by you to the Service
(such as login information) to conduct actions on your behalf, at your
direction (such as posting a photo to <span class=SpellE>Instagram</span>). <o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iv<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>You</span> must not add any content to the Service:</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(1<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>unless</span> you hold all necessary rights, <span class=SpellE>licences</span>
and consents to do so;</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(2<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>that</span> would cause you or us to breach any law, regulation, rule,
code or other legal obligation;</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(3<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>that</span> is or could reasonably be considered to be spam, obscene,
inappropriate, defamatory, disparaging, indecent, seditious, offensive,
pornographic, threatening, abusive, liable to incite racial hatred,
discriminatory, blasphemous, in breach of confidence or in breach of privacy; </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(4<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>that</span> would bring us, or the Service, into disrepute; or</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(5<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>that</span> infringes the intellectual property or other rights of any
person.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>v)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>The</span></span><span style='font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:"Times New Roman"'> Service contains links to other
websites as well as content added by people other than us. We do not endorse,
sponsor or approve any such user generated content or any content available on
any linked website. </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>vi<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>You</span> must not attempt to duplicate or replicate the Service, our
content or any other material that you do not own.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>vii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span>You</span> acknowledge and agree that: </span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(1<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>we</span> retain complete editorial control over the Service and may
alter, amend or cease the operation of the Service at any time in our sole
discretion; and</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:72.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>(2<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>the</span> Service will not operate on a continuous basis, and may be
unavailable from time to time (including for maintenance purposes). </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>2)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b><span style='font-size:11.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>Intellectual</span></b></span><b><span style='font-size:
11.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'> property
rights</span></b><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=SpellE><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>i</span></span></span><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>Nothing</span></span><span style='font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:"Times New Roman"'> in these Terms
constitutes a transfer of any intellectual property rights. You acknowledge and
agree that, as between you and us, we own all intellectual property rights in
the Service. </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>ii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>By</span> posting or adding any content onto the Service, you grant us a
perpetual, non-exclusive, royalty-free, irrevocable, worldwide and transferable
right and <span class=SpellE>licence</span> to use that content in any way
(including, without limitation, by reproducing, changing, and communicating the
content to the public) and permit us to <span class=SpellE>authorise</span> any
other person to do the same thing.</span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>You</span> consent to any act or omission which would otherwise
constitute an infringement of your moral rights, and if you add any content in
which any third party has moral rights, you must also ensure that the third
party also consents in the same manner.</span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iv<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span>The</span> <span class=SpellE>licence</span> in paragraph (iii) will survive
any termination of these Terms.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>v)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>You</span></span><span style='font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:"Times New Roman"'> represent and warrant to us that
you have all necessary rights to grant the <span class=SpellE>licences</span>
and consents set out in paragraphs (ii) and (iii).</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>3)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b><span style='font-size:11.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>Warranties</span></b></span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=SpellE><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>i</span></span></span><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>You</span></span><span style='font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:"Times New Roman"'> represent and warrant to us
that:</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>ii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>you</span> have the legal capacity to enter these Terms; and</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>you</span> have complied with clause 1(iii).</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>4)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b><span style='font-size:11.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>Liability</span></b></span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=SpellE><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>i</span></span></span><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>To</span></span><span style='font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:"Times New Roman"'> the full extent permitted by
law, we exclude all liability in respect of loss of data, interruption of
business or any consequential or incidental damages.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>ii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>To</span> the full extent permitted by law, we exclude all
representations, warranties or terms (whether express or implied) other than
those expressly set out in these Terms.</span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>These</span> Terms are to be read subject to any legislation which
prohibits or restricts the exclusion, restriction or modification of any
implied warranties, conditions, guarantees or obligations. If such legislation
applies, to the extent possible, we limit our liability in respect of any claim
to, at our option:</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:90.0pt;text-align:justify;text-indent:-18.0pt'><span style='mso-bidi-font-family:"Times New Roman"'>(a<span class=GramE>)<span style='font-size:7.0pt'>&nbsp;&nbsp; </span><span style='font-size:10.0pt;
font-family:Arial'>the</span></span></span><span style='font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:"Times New Roman"'> supply of the
services again; or</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:90.0pt;text-align:justify;text-indent:-18.0pt'><span style='mso-bidi-font-family:"Times New Roman"'>(b<span class=GramE>)<span style='font-size:7.0pt'>&nbsp; </span><span style='font-size:10.0pt;font-family:
Arial'>the</span></span></span><span style='font-size:10.0pt;font-family:Arial;
mso-bidi-font-family:"Times New Roman"'> payment of the cost of having the
services supplied again, or</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:90.0pt;text-align:justify;text-indent:-18.0pt'><span style='mso-bidi-font-family:"Times New Roman"'>(c<span class=GramE>)<span style='font-size:7.0pt'>&nbsp;&nbsp; </span><span style='font-size:10.0pt;
font-family:Arial'>a</span></span></span><span style='font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:"Times New Roman"'> pro-rata payment for
the remainder of your subscription for that period. </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>5)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b><span style='font-size:11.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>Termination</span></b></span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=SpellE><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>i</span></span></span><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>These</span></span><span style='font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:"Times New Roman"'> Terms terminate automatically
if, for any reason, we cease to operate the Service.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>ii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>We</span> may otherwise terminate these Terms immediately, on notice to
you, if you have breached these Terms in any way. </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:6.0pt;margin-right:0cm;margin-bottom:6.0pt;
margin-left:18.0pt;text-align:justify;text-indent:-18.0pt'><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>6)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><b><span style='font-size:11.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>General</span></b></span><span style='mso-bidi-font-family:
"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span class=SpellE><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>i</span></span></span><span class=GramE><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>)</span><span style='font-size:7.0pt;mso-bidi-font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
"Times New Roman"'>You</span></span><span style='font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:"Times New Roman"'> must not assign, <span class=SpellE>sublicence</span> or otherwise deal in any other way with any of
your rights under these Terms. </span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>ii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span>If</span> a provision of these Terms is invalid or unenforceable, it is
to be read down or severed to the extent necessary without affecting the
validity or enforceability of the remaining provisions.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iii<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;
</span>Each</span> party must at its own expense do everything reasonably
necessary to give full effect to this Agreement and the events contemplated by
it.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;
margin-left:54.0pt;text-align:justify;text-indent:-18.0pt'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>iv<span class=GramE>)<span style='font-size:7.0pt;font-family:"Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span>These</span> terms are governed by the laws of Victoria, Australia and
each party submits to the jurisdiction of the courts of Victoria, Australia.</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><span style='mso-bidi-font-family:"Times New Roman"'>&nbsp;<o:p></o:p></span></p>
<p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><span style='mso-bidi-font-family:"Times New Roman"'>&nbsp;<o:p></o:p></span></p>
<p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><span style='font-size:10.0pt;font-family:Arial;mso-bidi-font-family:"Times New Roman"'>January
2014</span><span style='mso-bidi-font-family:"Times New Roman"'><o:p></o:p></span></p>
<p class=MsoNormal><span style='font-family:Cambria;mso-bidi-font-family:"Times New Roman";
color:windowtext'>&nbsp;<o:p></o:p></span></p>
</div>
</body>
</html>